<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65544552444-u44sudr51j7ldjbrq0j9rlotf4ed4etl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65544552444-u44sudr51j7ldjbrq0j9rlotf4ed4etl</string>
	<key>API_KEY</key>
	<string>AIzaSyDYv8uByoz3k-PC0NJMr0qMK_kq5WWKbuo</string>
	<key>GCM_SENDER_ID</key>
	<string>65544552444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infodashApp</string>
	<key>PROJECT_ID</key>
	<string>infodash-a991c</string>
	<key>STORAGE_BUCKET</key>
	<string>infodash-a991c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65544552444:ios:1bad128bf05c856eb43c79</string>
</dict>
</plist>